<div class="container-fluid">
  <h1>Registračný formulár na očkovanie</h1>
  <form #form="ngForm">
    <div style="display: none" id="formData">{{ form.value | json }}</div>
    <!--
    {{ vaccineApplicantModel | json }}-->
    <div class="form-group">
      <label>Meno</label>
      <input type="text" class="form-control" name="name" required ngModel />
    </div>

    <div class="form-group">
      <label>Priezvisko</label>
      <input type="text" class="form-control" name="surname" required ngModel />
    </div>

    <div class="form-group">
      <label>Rodné číslo</label>
      <input
        type="text"
        class="form-control"
        maxlength="11"
        name="idNumber"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="email" class="form-control" name="email" required ngModel />
    </div>

    <div class="form-group">
      <label>Telefonne číslo</label>
      <input
        type="tel"
        class="form-control"
        name="phoneNumber"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label>Typ vakciny</label>
      <select class="custom-select" name="vaccine" ngModel>
        <option selected>Aká koľvek aktuálne dostupná</option>
        <option *ngFor="let vaccine of vaccines">{{ vaccine }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Odoslať</button>
  </form>
</div>
